body{
text-align: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif   
}
h2{
    color: rgb(12, 119, 185);
}
.box1{
    color: aliceblue;
    background-color: #6bc2ff;
}
.box2{
    background-color:#ebebeb;
    width: 499px;
    display: inline-block;
}
.box3{
    color: tomato;
}